*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background: linear-gradient(to top, rgba(65, 63, 1, 0.5), rgba(65, 63, 1, 0.5));
}

.sec1con{
    padding-top: 150px;
    margin-bottom: 50px;
    text-align: justify;
}
.secimg1{
    width: fit-content;
}

div{
    padding-left: 100px;
}

img{
    width: 500px;
    margin-top: 75px;
   
    
}

p, h1{
    width: 400px;
    margin-bottom: 20px;
    text-align: justify;

}
.p, h1:hover {
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
    transform: scale(1.1);
    color: gold;
}

.section1{
    display: flex;
    margin-top: 50px;
    margin-bottom: 225px;
}

.section1 img:hover {
    transform: scale(1.1);
}

.section2 {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-left: 100px;
}

.section2 img {
    margin-top: 0;
    width: 300px;
    height: 300px;
    margin-bottom: 0;
    transition: transform 0.3s ease;
}

.section2 img:hover {
    transform: scale(1.1);
}


button{
        padding: 0.75rem 1.5rem;
        background-color: rgba(7, 192, 17, 1);
        color: white;
        border-radius: 0.25rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7),
                    -5px -5px 10px rgba(255, 255, 255, 0.7);
        transition: box-shadow 0.5s ease;
      
}

button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
    
}

button:active{
    transition: opacity 0.15s;
    opacity: 0.8;
}

.hop{
    width: 500px;
    height: 500px;

}

.cardsec2{
    background-color:#45884e;
    margin-left: 66px;
    margin-right: 20px;
    padding-right: 300px;
    padding-left: 0;
    margin-bottom: 50px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;

    padding-bottom: 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
   
}






.hud{
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;

}

.but{
    margin-left: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100px;

}

.but:hover {
    transform: scale(1.1);
}

.section3 h1{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 270px;
}